## Exercise - Blackâ€™s Formula for Options on Futures

In [1]:
import warnings

import numpy as np
import pandas as pd

warnings.filterwarnings("ignore")

In [2]:
# Path to the Excel file containing SOFR futures option data
data_path_futures_options = "../data/option_data_bb_SFRZ5.xlsx"
data_path_historical_ref_rates = "../data/ref_rates.xlsx"

# Read the first sheet of the Excel file into a DataFrame
spot = (
    pd.read_excel(data_path_futures_options, sheet_name=0)
    .rename(columns={"Unnamed: 0": "field"})
    .set_index("field")
)

# Read the second sheet of the Excel file into a DataFrame
historical_ref_rates = pd.read_excel(data_path_historical_ref_rates, sheet_name=1)

# Read the sheet with the nearest expiration option data from the Excel file
nearest_expiration = pd.read_excel(
    data_path_futures_options,
    sheet_name=1
)

# Filter the DataFrame to get all call options ('C')
calls = nearest_expiration.loc[nearest_expiration["option type"] == "C"]

# Filter the DataFrame to get all put options ('P')
puts = nearest_expiration.loc[nearest_expiration["option type"] == "P"]

# Display the processed DataFrame
display(spot.style.set_caption("Underlying Spot"))
display(calls.head().style.set_caption("Nearest Expiration Calls"))
display(puts.head().style.set_caption("Nearest Expiration Puts"))
display(historical_ref_rates.head().style.set_caption("Historical Reference Rates"))

## 1. SOFR Futures Options